{% extends "AppBundle::layout.html.twig" %}

{% block title %} Deux {% endblock %}
{% block head %} tete à l'envers {% endblock %}
{% block body %} <H1>{{ uneEntree }}</H1> {% endblock %}
{% block widgets %} {{ form(leFormulaire) }} {% endblock %}
{% block liens %}
<li><a href={{ path('lectureCtrl_index') }}> Index </a></li>
<li><a href={{ path('lectureCtrl_afficheEmpParam') }}> Exercice Paramètres</a></li>
<li><a href={{ path('lectureCtrl_afficheEmpTwig') }}> Exercice Twig</a></li>
{% endblock %}
