{% extends "AppBundle::layout.html.twig" %}

{% block title %}Premiere{% endblock %}

{% block body %}
    {{ form_start(leFormulaire) }}
    <div class="alert alert-info" role="alert"> {{ form_row(leFormulaire.num, {'label' : 'Numéro :'}) }}</div>
<div class="alert alert-info" role="alert">{{ form_row(leFormulaire.nom, {'label' : 'Nom de l\'employe : '}) }}</div>
    <div class="alert alert-info" role="alert">                      {{ form_row (leFormulaire.prenom, {'label' : 'Prénom de l\'employe : '}) }}</div>
        <div class="alert alert-info" role="alert">{{ form_row(leFormulaire.dateNaissance) }}</div>
    {{ form_end(leFormulaire) }}
{% endblock %}
{% block css %}
    {% stylesheets '@AppBundle/Public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}
{% endblock %}
